@charset "UTF-8";
div.calendario {
  width: 100;
  height: 100px;
  background-color: pink;
}

div.lista {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
 left: 5%;



}

div.elemento {
  width: 90%;
  height: 120px;
  border-left-style: hidden;
   border-radius:8px;
  border-bottom: solid;
  border-color: black;
  border-width: 1px;
  display: flex;
  justify-content: center;
}
div.barraSuperior{
  width: 310px;
  height: 33px;
  border-radius:1px; 
  background-color: #2F3E46;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius:5%;
  color: #ffffff;
  font-size: 130%;
  font-family: Gans Gotico Globo;




}

div.calendario {
  width: 200px;
  height: 200px;
  margin: 0px auto;
  border-style: solid;
  border-color: black;
}

section {
  width: 310px;
  height: 450px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

section.centrada {
  width: 310px;
  height: 450px;
  text-align: center;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logoMedio {
  width: 200px;
  height: 200px;
}

.imagenpequena {
  width: 55%;
  height: 55%;
}
.imagenMediana{
  width: 84%;
  height: 77%;
}

.bloqueflotante {
  float: left;
  width: 90%;
  height: 100%;
}

.ocultar {
  /* display: none;*/
  
}

h1.grande {
  font-size: 50px;
}

.fuentapequna {
  font-size:95%;
}
.fuentepequena{
  font-size:85%;

}
.fondo-lista1{
  background-image: url("../IMG/fondo4.png");

}
body {
  font-family: Gans Gotico Globo;
   width: 310px;
  height: 450px;
  position: absolute;
}

#splash {
background-image: url("../IMG/fondo.jpg");
  
}
#disenos{
  background:#84A98C;
  background-image: url("../IMG/fondo3.png");
  
}

#registro {
  background: #C4C4C4;
}

#juego {
  background: violet;
}

#diseño {
  background: violet;
}

#reservar {
  background: violet;
}

#whatsapp {
  background: violet;
}

#reservaExitosa {
  background: Violet;
}

#inicio {
  background: #6B917E;
  background-image: url("../IMG/fondo2.png");

}

#estudios {
  background: #FF5733;
}

#instrucciones {
  background: YellowGreen;
}

#creditos {
  background: DeepSkyBlue;
}

#instrucciones p {
  margin: 25px;
  text-align: left;
}

.boton {
  background-color: Navy;
  padding: 10px;
  text-decoration: none;
}

.volver {
  float: left;
  
  background-color: black;
  color: #ffffff;
  border: 1px solid #264653;
  padding: 6px 6px;
  background: linear-gradient(to bottom, black 5%, #bab1ba 100%);

}
.volver:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #E9C46A 100%);
  background-color: #bab1ba;
  color: black;
}

.volver2 {
  float: left;
  color: pink;
  background-color: black;
}


.button5 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
  background-color: white;
  color: black;
  outline: none;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.barra {
   float: right;
  background: linear-gradient(to bottom, black 5%, #bab1ba 100%);
  background-color: black;
  border: 1px solid #264653;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 7px;
  text-decoration: none;
  text-shadow: 0px 1px 0px black;
}

.barra:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #E9C46A 100%);
  background-color: #bab1ba;
  color:black;
}

.barra:active {
  position: relative;
  top: 1px;
}
.botonListas {
  background: linear-gradient(to bottom, black 5%, #bab1ba 100%);
  background-color:#e9c56a;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-style:italic;
  padding:5px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #588157;
}
.botonListas:hover {
  background:linear-gradient(to bottom, #588157 5%, #e9c56a 100%);
  background-color:#588157;
  color: #000000;
}
.botonListas:active {
  position:relative;
  top:1px;
}


/*# sourceMappingURL=main.css.map */
