$color_red:red;
div.calendario{
  width:100;
  height:100px;
  background-color:pink;
}
div.lista{
  width:100%;
  height:300px;
  overflow-y:scroll;
  overflow-x:hidden;
}
div.elemento{
 width:90%;
 height:120px;
border-left-style:hidden;
border-right: solid;
border-top: solid;
border-radius: solid;
border-color: black;
 border-width:1px;
display: flex;
justify-content: center;

}
div.calendario{
    width:200px;
  height:200px;
   margin:0px auto;
  border-style: solid;
    border-color: black;
}